img {

  border: 1px solid #ffffff;
  border-radius: 10px;
  margin-top: -1px; /* Prevent double borders */
  background-color: #7F00FF00;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
  font-weight: bold;

}

img:hover {filter: opacity(.5);}





* {
  box-sizing: border-box;
}


body {
  height:100%;
  width:100%;
  background-color: #020202;
  background-attachment: fixed;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  font-family: "Roboto",sans-serif;
  text-align: center;  
  margin: 0;
  }

.header {
  text-align: center;
  padding: 32px;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 10x;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 15%; /* IE10 */
  flex: 10%;
  max-width: 10%;
  padding: 0 5px;
}

.column img {
  margin-top: 8px;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 20%;
    max-width: 20%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 33%;
    max-width: 33%;
  }
}


#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  font-size: 0px;
  color: transparent;
}

/* Style the search box */
#mySearch {
  width: 100%;
  font-size: 18px;
  border: 10px solid #000000;
}


/* Style the navigation menu inside the left column */
#myMenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}


p{

color: #7F00FF00;
font-size: 0px;

}
